@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@font-face{
    font-family:'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    padding: 0;
    margin: 0;
}

:root{ /*variaveis*/
    --cor0:#ebe5c5;
    --cor1:#bed5c8;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;
    --fonte--padrão:'Arial', 'Verdana', 'Helvetica', sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;
}

body{
    background-color:var(--cor0);
    font-family: var(--fonte--padrão);
}

a.externo::after{
    content: '\00A0\1F517';
}

main p{
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main h2{
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-family:var(--fonte-android);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
 
header >h1{
    font-weight: normal;
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.246);
}

header>p{
    color: white;
    font-family: var(--fonte--padrão);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.246);
    padding-bottom: 50px
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0. 7px 9px rgba(0, 0, 0, 0.671);
}

nav>a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav>a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    padding:20px;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom:20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.652);
    border-radius: 0 0 10px 10px;
}

article>img{
    width: 100%;
}

.imgg{
    width: 100%;
}

.imgg_pq{
    max-width:350px ;
    display: block;
    margin: auto;
}

article >h1{
    font-weight: normal;
    font-size: 1.8em;
     font-family:var(--fonte-android);
     color: var(--cor5);
}

aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.287);
}

aside h3{
    background-color: var(--cor5);
    color: white;
    padding: 8px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
}

aside>ul{
    list-style-type:'\2705\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}


footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: rgb(61, 210, 255);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: cornflowerblue;
}

.video{
    background-color: var(--cor5);
    margin: 0 -20px 30px -20px;
    padding: 10px;
    padding-bottom: 59%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}